<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<style type="text/css">
<!--
body { font-size:80%; background:#f0f0f0; }
p.msg { color:red; }
-->
</style>
<title>エラー</title>
</head>
<body>

<p><b>エラーが発生しました。</b></p>
<p class="msg">!message!</p>

<form>
<input type="button" value="前画面に戻る" onclick="history.back()">
</form>

</body>
</html>
